*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
 }

 .header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://media.revistavanityfair.es/photos/6192972ec618c0cdf0bcaeb2/16:9/w_2560%2Cc_limit/La%2520Mamona%2520Castellana_18.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    /*opacity: 0.75;*/
    /*qiero poner la imagen más oscura*/
 }

 .tm{
    color: #000000;
 }
 nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background: cadetblue;
 }

 nav img{
    width: 100px;
 }

 .nav_links{
    flex: 1;
    text-align: right;
 }

 .nav_links-ul-li{
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    
        
 }
/* aquí empieza los links del menú*/
 .home{
    color: aliceblue;
    font-size: 15px;
    border-bottom: 1px solid #000000;
 }
.concepto{
    color: aliceblue;
    font-size: 15px;
    border-bottom: 1px solid #000000;
}
.concepto{
    color: aliceblue;
    font-size: 15px;
}

.fotos{
    color: aliceblue;
    font-size: 15px;
}

.menu{
    color: aliceblue;
    font-size: 15px;
}

.reservas{
    color: aliceblue;
    font-size: 15px;
}

.bloge{
    color: aliceblue;
    font-size: 15px;
}

.contacto{
    color: aliceblue;
    font-size: 15px;
}
/*texto por encima de fondo principal*/

.text-superbox{
    text-align: center;
    color: aliceblue;
    width: 100%;
    position: absolute;
    top: 40%;
    
}

/*esto ataca a la imagen del div*/
.img-cocina{
    width: 150px;
}
.subtittle{
    font-size: 40px;
}
.tittle{
    font-size: 60px;
}

.body-concepto{
    min-height: 100vh;
    width: 100%;
    /*background-image: url(https://p4.wallpaperbetter.com/wallpaper/1001/595/727/black-and-white-close-up-cutlery-fork-wallpaper-preview.jpg);*/
    background-position: center;
    background-size: cover;
    /*position: relative;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgb(255, 255, 255)), url(https://p4.wallpaperbetter.com/wallpaper/1001/595/727/black-and-white-close-up-cutlery-fork-wallpaper-preview.jpg);
}

.text2-superbox{
    color: aliceblue;
    width: 100%;
    /*position: absolute;*/
    top: 50%;
    right: 25%;
    background-color: cadetblue;
    max-width: 40%;
    padding: 50px;
    
    
}

.titleconcepto{
    text-align: center; 
    
}

.lorem{
    margin: 15px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    min-height: 100vh;
    align-content: flex-start;
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/739/437/non_2x/wooden-table-top-with-rustic-interior-background-free-photo.jpg);   
    /*align-content: space-between;*/
    gap: 30px;
    padding: 100px;
    background-size: cover;
    justify-content: center;
    
}

.gallery-item{ 
    max-width: 300px;

}

.cartacompleta{
    display: flex;
    justify-content: center;
    background-color: white;

}

.carta{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.submenu{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.linecarta{
    border-bottom: 1px solid cadetblue;
}

.fondocarta{
    /*background-color: blue;
    min-height: 100vh;
    width: 80%;*/
    min-height: 100vh;
    background-color: cadetblue;
    background-position: center;
    background-size: cover;
    /*position: relative;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

.fondoizquierda{
    background-color: white;
    min-height: 100vh;
    margin: 20px;
    width: 45%;
}
.fondoderecha{
    background-color: white;
    min-height: 100vh;
    margin: 20px;
    width: 45%;
}

.izq{
    margin: 50px;
}

.drch{
    margin: 50px;
}

.comida{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

h2{
    font-size: 18px;
}

.lineasub{
    height: 10px;
    background-color: black;
}

.prueba{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.probando{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.prueba1{
    height: 2px;
    width: 20%;
    background-color: black;
    color: white;
}

.prueba3{
    height: 2px;
    width: 35%;
    background-color: black;
    color: cadetblue; 
}

.prueba2{
    margin: 10px;
}

.prueba4{
    height: 2px;
    width: 90%;
    background-color: black;
    color: cadetblue;  
}

.concept{
    color: #000000;
}

.botondelacarta{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.cartabotton{
    background-color: #000000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    display: flex;
    justify-content: center;
    
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding-top: 50px;
    margin-bottom: 60px;
    

}

.line4{
    height: 2px;
    width: 20%;
    background-color: black;
    color: rgba(255, 255, 255, 0);
}

.line5{
    margin: 10px;
    color: white;
}

.envioformulario{
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.form1{
    width: 50%;
}

.form2{
    width: 50%;
}

.aside1{
    width: 50%;
}

.line6{
    height: 2px;
    width: 60%;
    background-color: black;
    color: rgba(255, 255, 255, 0);
    margin-bottom: 20px;
}

.sectionform{
    background-image: url(https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/254063543.jpg?k=71af8e69ed5f5bf5b9111318e5d1e0dde5ff0d5471c55ab0513d00e1fa9c574c&o=);
    background-size: cover;  
}

.blog{
    min-height: 70vh;
    width: 100%; 
    background-color: white; 
}

.line8{
    color: #000000;
    margin: 10px;
}

.blogg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}


.cartas{
    display: flex;
    height: 450px;
    margin: 60px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.carta1{
    background-color: #b88439;
    width: 15%;
    min-width: 300px;
}
.carta2{
    background-color: cadetblue;
    width: 15%;
    min-width: 300px;
}

.carta3{
    background-color: rgb(60, 57, 57);
    width: 15%;
    min-width: 300px;
}

.imgeye{
    width: 15px;
}

.novedades{
    padding: 70px;
    font-size: 25px;
    color: white;
}

.adimpng{
    margin-right: 10px;
    color: white;
}
.cartabottonn{
   
    border: 1px;
    color: white;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
}

.botonparador{
    background-color: #00ffff00;
    margin-top: 17px;
    margin-left: 17px;
    border-color: aliceblue;
}

.fecha{
    font-size: 12px;
}

.tenemos{
    font-size: 30px;
}
.linenove{
    height: 1px;
    width: 100;
    background-color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0);
}
.form-container{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

.admin{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}

.form-section{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.formulario{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-right: 20px;
}

.form-text{
    width: 500px;
    margin-left: 20px;
}

.form-text h2{
  color: #b88439;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.1em;
  margin-top: 0;
  padding-top: 0;
  text-align: left;
}

.form-text h3{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.1em;
  margin-top: 0;
  padding-top: 0;
  text-align: left;
}

.form-text p{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-top: 0;
  padding-top: 0;
  text-align: left;
}


.form-select{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-bottom: 15px;
}

.form-input{
 margin-bottom: 10px;
}

.form-label{
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin-bottom: 5px;
}

.form-labell{
    color: cadetblue;
    font-size: 14px;
    margin-bottom: 5px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    
}

.form-btn{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.form-btn2{
    margin-bottom: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}


.vencuandoquieras{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./imagenes/Captura\ de\ pantalla\ 2022-12-08\ a\ las\ 11.32.55.png);
    min-height: 60vh;
    width: 100%;
    margin-top: 80px;
}

.ven{
    text-align: center;
    color: aliceblue;
    width: 100%;
    padding-top: 40px;
}

.tittleven{
    font-size: 20px;
}

.treslogos{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.lugar{
    color: white;
}

.lugarlogo{
    width: 50px;
}
.lugarlogoo{
    width: 40px;
}
.logosjuntos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rrss{
    display: flex;
    justify-content: center;
}

.rrssbotton{
    margin-left: 50px;
    margin-right: 50px;
    color: black;
    border: 2px solid #000000;
    padding: 15px;
    padding-left: 60px;
    padding-right: 60px;
}

.final{
    min-height: 40vh;
    width: 100%;
    background-color: rgb(184, 180, 175);
    margin-top: 100px;
}

.enlacesinteres{
    display: flex;
    justify-content: space-evenly;
    padding-top: 80px;
}

.finaltitulos{
    font-size: 20px;
}

.finalp{
    padding-top: 20px;
    font-size: 15px;
}

.derechosreservados{
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}

.derechoslogo{
    width: 20px;
    padding-right: 20px;
}